.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block; /* removes space between image and caption */
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__like-button {
  background-image: url(../images/like_button.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  margin: 0;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
