.card {
  height: 445px;
}

.card_image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 10px;
  display: block; /* removes space between image and caption */
}

.card_like-button {
  background-image: url(../images/like_button.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 36px;
}

.card_title {
  margin: 0;
}

@media screen and (max-width: 627px) {
  .card_image {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
